<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/todososcursos.css">
    <link rel="stylesheet" href="/css/header2.css"> 
</head>
<body>
    <%- include('../../pages/partials/header') %>
    <main>
        <div class="main-content">
            <div class="container">
                <h2>Todos os Cursos Disponíveis</h2>

                <% if (cursos && cursos.length > 0) { %>
                    <div class="cursos-container">
                        <% cursos.forEach(curso => { %>
                            <div class="card">
                                <div class="descricao">
                                    <span class="subtitulo"><%= curso.TITULO %></span>
                                    <p><span>Professor:</span> <%= curso.NOME_PROFESSOR %></p>
                                    <p><span>Descrição:</span> <%= curso.DESCRICAO %></p>
                                    <a href="/curso/<%= curso.ID_CURSO %>" class="continuar-aula">Ver Curso</a>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                <% } else { %>
                    <p>Nenhum curso encontrado no momento.</p>
                <% } %>
            </div>
        </div>
    </main>
    <script src="/js/icon-menu.js"></script>

</body>
</html>