<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/todososcursos.css">
    <link rel="stylesheet" href="/css/header2.css"> 
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <%- include('../../pages/partials/header') %>
    <main>
        <section class="main-content">
            <section class="container">
                <h2>Todos os Cursos Disponíveis</h2>

                <% if (cursos && cursos.length > 0) { %>
                    <section class="cursos-container">
                        <% cursos.forEach(curso => { %>
                            <section class="card">
                                <section class="descricao">
                                    <% if (curso.IMAGEM) { %>
                                        <script>
                                            console.log('Imagem do curso:', curso.IMAGEM);
                                        </script>
                                        <img
                                          src="data:image/jpeg;base64,<%= curso.IMAGEM.toString('base64') %>"
                                          alt="<%= curso.TITULO %>"
                                          style="width: 50%; height: auto; align-self: center;"
                                        />
                                      <% } else { %>
                                        <img
                                          src="/images/log.svg"
                                          alt="<%= curso.TITULO %>"
                                          style="width: 50%; height: auto; align-self: center;"
                                        />
                                      <% } %>
                                    <span class="subtitulo"><%= curso.TITULO %></span>
                                    <p><span>Professor:</span> <%= curso.NOME_PROFESSOR %></p>
                                    <p><span>Descrição:</span> <%= curso.DESCRICAO %></p>
                                    <section class="botoes-container">
                                        <a href="/curso/<%= curso.ID_CURSO %>" class="continuar-aula">Ver Curso</a>
                                        <button class="adicionar-carrinho" data-curso-id="<%= curso.ID_CURSO %>">
                                        </button>
                                    </section>
                                </section>
                            </section>
                        <% }); %>
                    </section>
                <% } else { %>
                    <p>Nenhum curso encontrado no momento.</p>
                <% } %>
            </section>
        </section>
    </main>
    <script src="/js/icon-menu.js"></script>
    <script src="/js/carrinho.js"></script>
</body>
</html>